<p id="notice"><%= notice %></p>


<div class="feature-img">
  <%= image_tag(@product.image_url) if @product.image? %>
</div>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>


<%= link_to 'Back', products_path %>
